@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #000;
  --background: rgba(255, 255, 255, 0.8);
  --heading: #01536c;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  background: #d93aff;
}
.expandedSideBar {
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  background: var(--background);
  backdrop-filter: blur(5.528571605682373px);
  width: 300px;
  border-radius: 0 24.571px 24.571px 0;
  border: 0.614px solid #000;
  -webkit-border-radius: 0 24.571px 24.571px 0;
  -moz-border-radius: 0 24.571px 24.571px 0;
  -ms-border-radius: 0 24.571px 24.571px 0;
  -o-border-radius: 0 24.571px 24.571px 0;
  padding: 0 15px;
}
.collapseSideBar {
  display: none;
}
/* Logo and heading part design */
.heading {
  display: flex;
  align-items: center;
  padding: 20px 0;
  column-gap: 10px;
}
.heading h1 {
  font-size: 2rem;
  color: var(--heading);
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu a {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
}
ul li {
  display: flex;
  column-gap: 25px;
  align-items: center;
  position: relative;
}
ul li::before {
  content: url(/images/arrow.svg);
  position: absolute;
  width: 7px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  /* display: none; */
}
ul li span {
  margin-left: 50px;
}
li span {
  font-size: 1.5rem;
}
.theme {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.theme p {
  font-size: 1rem;
  background: var(--background);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile h2 {
  font-size: 1.5rem;
  color: var(--heading);
}
.profile a {
  font-size: 1rem;
  color: var(--primary-color);
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* collaps Side bar */
.collapseSideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  background: var(--background);
  backdrop-filter: blur(5.528571605682373px);
  width: 300px;
  border-radius: 0 24.571px 24.571px 0;
  border: 0.614px solid #000;
  -webkit-border-radius: 0 24.571px 24.571px 0;
  -moz-border-radius: 0 24.571px 24.571px 0;
  -ms-border-radius: 0 24.571px 24.571px 0;
  -o-border-radius: 0 24.571px 24.571px 0;
  padding: 0 15px;
}
